.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
notes/**
.gitignore
.yarnrc
.npmrc
pnpm-lock.yaml
pnpm-workspace.yaml
esbuild.mjs
vitest.config.ts
coverage/**
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/jsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
media/index.html
media/*.gif
